.contenedor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fila {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.fila-superior {
  height: 25%;
}

.fila-inferior {
  height: 500px;
}

.columna {
  border: 1px solid black;
  width: 100%;
}

.columna-grande {
  border: 1px solid black;
  width: 100%;
  padding: 3%;
}
