@media screen and (min-width: 430px) {


    .flex-wrap{
        display: flex;
        background-color: #E6ECEC;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        width: 100%;
    
    }
    
    .hero-image{
        width: 80%;
        height: auto;
        padding-left: 120px;
    }
    
    .hero-image-text{
        height: 100%;
        width: 10%;
        padding-bottom: 200px;
    }
    
    .hero-container p {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        color: white; 
        font-size: 150px; 
       }
    
       /* .text-image-2{
        padding-bottom: 20%;
       } */
    
    }
    
    @media screen and (max-width: 429px) {
    
        .hero-container{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    
        /* .hero-container p {
            position: absolute;
            top: 21%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; 
            font-size: 30px; 
           } */
    
        .hero-image{
            width: 80%;
            height: auto;
            padding-left: 40px;
        }
    
        .hero-image-text{
            height: 100%;
            width: 10%;
           
        }
    }