.gallery-container {
    background-color: #3498db; /* Fondo azul */
    padding: 20px;
  }
  
  .artwork {
    width: calc(33.33% - 20px); /* Ancho del 33.33% de la ventana con un margen de 20px */
    margin: 10px; /* Margen entre las obras */
    background-color: #fff; /* Fondo blanco */
    padding: 20px;
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    display: inline-block;
    vertical-align: top; /* Alineación superior */
  }
  
  .artwork h2 {
    margin-top: 0; /* Eliminar margen superior */
  }
  
  .artwork p {
    margin-bottom: 10px; /* Margen inferior */
  }
  
  @media (max-width: 768px) {
    .artwork {
      width: calc(50% - 20px); /* Ancho del 50% en pantallas más pequeñas */
    }
  }
  