h1 {
  display: flex;
  font: bold;
  color: #e6ecec;
  justify-content: center;
}

.style {
  background-color: #669ec6;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcedf7;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
  margin: 25px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.Form-add-product {
  align-items: center;
  background-color: #edf3f8;
  flex-direction: column;
  display: flex;
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 25px;
  max-width: 700px;
  min-width: 300px;
  align-self: center;
}

.add-product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card {
  width: 200px;
  background-color: #edf3f8;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  padding: 8px;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}

.btn-cardForm-edit,
.btn-cardForm-delete {
  border-radius: 5px;
  background-color: #669ec6;
  color: #669ec6;
  border: none;
  color: white;
  width: 100px;
  margin: 3px;
  padding: 6px;
  transition: background-color 0.5s;
}

.btn-cardForm-edit:hover,
.btn-cardForm-delete:hover {
  background-color: #989a9d;
}

.button-add-product {
  margin: 10px;
}
