.product-gallery {
  background-color: #21577e;
  color: #e6ecec;
}

.product-item img {
  width: 360px;
  height: 420px;
  object-fit: cover;
}

.modal-content {
  width: 720px;
  height: 840px;
}

.audio-style {
  margin-bottom: 10px;
}
