table {
  border-collapse: collapse;
}

table td,
table th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.btnPay {
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%;
  background-color: #21577e;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
}

.closeW {
  width: 24px;
  height: 24px;
}

.closeW :hover {
  cursor: pointer;
  background-color: rgb(148, 240, 240);
}

.mainContainer1 {
  border: 1px solid;
  border-color: #f0f0f0;
  box-shadow: 0px 0px 10px rgba(136, 136, 136, 0.5);
  width: 75%;
  overflow-x: auto;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  max-height: 90%;
  overflow-y: auto;
}

.imgProduct {
  width: 100%;
  height: 100%;
}

.imgDelete {
  width: 20%;
  height: 20%;
}

.imgDelete :hover {
  cursor: pointer;
}

tr.highlighted {
  background-color: rgb(196, 228, 243);
}

.tableM {
  width: 100%;
  table-layout: fixed;
}

.tableM td:nth-child(3),
.tableM th:nth-child(3) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.swal-container {
  z-index: 99999;
}
