.container {
  display: flex;
  width: 100%;
  min-width: 200px;
  min-height: 200px;
}

.columna1 {
  width: 25%;
  background-color: #669ec6;
  padding-top: 5%;
}

.columna2 {
  width: 90%;
}

.buttonA {
  background-color: white;
  color: #21577e;
  border: 1px solid #21577e;
  padding: 15px 15px;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 3px;
}

.buttonA:hover {
  background-color: #ef0b6a;
  color: white;
}
