.gallery-preview {
  background-color: #669ec6;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-style {
  padding: 25px;
  margin: auto;
  width: 360px;
  height: 400px;
}
