@media screen and (min-width: 430px) {
  .container-navbar {
    width: 100%;
    background-color: #e6ecec;
    height: 230px;
    padding-left: 18%;
    padding-bottom: 2%;
  }

  .logo-and-gallery-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2%;
    padding-left: 2%;
  }

  .gallery_button {
    border: 0;
    background-color: transparent;
    color: #21577e;
    font-size: 25px;
    height: fit-content;
  }

  .logo {
    border: 0;
    background-color: transparent;
    width: 58px;
    height: fit-content;
    padding-bottom: 8%;
  }

  .icons-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 70px;
  }

  .home {
    padding-top: 1.5%;
    border: none;
    background-color: transparent;
    padding-bottom: 5%;
    padding-left: 5%;
  }

  .navbaruserhello {
    color: black;
    margin-top: 3.2%;
    font-size: 25px;
  }

  .shoppingcart {
    padding-right: 10%;
  }

  .form-and-search {
    display: flex;
    flex-direction: row;
  }

  .navbar-form {
    padding-top: 20px;
    padding-left: 20%;
  }

  .search {
    border: 0;
    background-color: transparent;
    padding-top: 15px;
    padding-left: 0px;
    width: 28px;
  }

  .login {
    padding-top: 15px;
    width: 28px;
  }

  .logout {
    padding-top: 15px;
    width: 28px;
  }

  .shoppingcart {
    padding-top: 10px;
    padding-right: 22%;
    width: 28px;
  }

  .input-navbar {
    width: 180px;
    border-radius: 10px;
    border: none;
  }

  .login_logout {
    display: flex;
    flex-direction: row;
    padding-left: 70%;
  }

  .login {
    border: 0;
    background-color: transparent;
  }

  .logout {
    border: 0;
    background-color: transparent;
  }

  .line {
    width: 75%;
    padding-left: 3%;
  }
}

@media screen and (max-width: 429px) {
  .container-navbar {
    width: 100%;
  }

  .icons-group {
    height: 100px;
    display: flex;
    flex-direction: row;
  }

  .logo {
    width: 30px;
  }

  .icons-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #e6ecec;
  }

  .home {
    margin-right: 10px;
    padding-top: 3px;
    border: none;
    background-color: transparent;
  }

  .imghome {
    width: 15px;
  }

  .navbaruserhello {
    padding-top: 5px;
    font-size: 11px;
    color: #21577e;
  }

  .gallery_button {
    font-size: 11px;
    border: none;
    background-color: transparent;
    color: #21577e;
  }

  .form {
    padding-left: 2%;
  }

  .input-navbar {
    width: 70px;
    height: 10px;
    border: none;
    border-radius: 8px;
  }

  .search {
    width: 13px;
    border: 0;
    background-color: transparent;
    padding-left: 1%;
  }

  .imgsearch {
    width: 13px;
  }

  .imglogin {
    width: 15px;
  }

  .imglogout {
    width: 15px;
  }

  .login {
    height: auto;
    border: 0;
    background-color: transparent;
    padding-left: 15px;
  }

  .logout {
    border: 0;
    background-color: transparent;
    padding-left: 18px;
  }

  .shoppingcart {
    width: 16px;
    padding-bottom: 4px;
    border: 0;
    background-color: transparent;
    padding-left: 17px;
  }

  .logo-and-gallery-button {
    display: flex;
  }

  .line {
    width: 90%;
  }
}
